---
export interface Props {
  post: any;
}

import PostHeader from './PostHeader.astro';
import { Markdown } from 'astro/components';

const { post } = Astro.props;

---

<article>
  <a href={post.url}>
    <PostHeader title={post.frontmatter.title} date={post.frontmatter.createdAt} />
  </a>
  <div class="article-body">
    <Markdown>
      {post.astro.source}
    </Markdown>
  </div>
  <div class="mask">
    <a href={post.url}>Continue Reading</a>
  </div>
</article>

<style style="scss">
  article {
    overflow: hidden;
    position: relative;
    height: 450px;
    border-radius: var(--radius-2);
    border-left: 1px dashed var(--neutral-6);
    padding-left: 1rem;
    margin-bottom: 6rem;
  }

  .article-body {
    padding-top: 1rem;
    max-height: 500px;
  }
  .mask {
    position: absolute;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(253, 253, 252, 0),
      rgba(253, 253, 252, 1) 85%
    );
    color: var(--neutral-12);
    font-size: var(--font-size-2);
    letter-spacing: var(--font-letterspacing-1);
  }
  html[data-theme='dark'] .mask {
    background-image: linear-gradient(
      to bottom,
      rgba(22, 22, 21, 0),
      rgba(22, 22, 21, 1) 85%
    );
  }
</style>
